.ul-first {
  padding-left: 2.7rem;
  list-style: none;
}

.ul-first > li {
  text-align: start;
}

.ul-first > ul > li {
  margin-left: 50px;
  text-align: start;
  list-style-type: disc;
  color: rgb(180, 180, 180);
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 50px;
}

.div_text {
  margin-left: 30px;
}

.volunteering-title {
  display: inline;
}

.volunteering-title-dark {
  display: inline;
  color: darkorange;
}

.skills-title-dark {
  color: darkorange;
}

.skills-title {
  color: rebeccapurple;
}

.span-title{
  color: rgb(180, 180, 180);
}

.volunteering-subtitle {
  color: rgb(180, 180, 180);
}

.imgae {
  border-radius: 30px;
  box-shadow: 5px 5px 8px rgb(128, 128, 128);
}

.icon {
  vertical-align: middle;
}

@media only screen and (max-width: 900px) {
  .div {
    display: block !important;
    margin: 20px 0px 0px 0px;
  }
  .button-margin {
    margin-top: 20px;
  }
  .imgae{
    width: 300px;
  }
  .ul-first {
    padding-left: 0px;
  }
}
