.skills-name {
  display: flex;
  justify-content: space-between;
  color: rebeccapurple;
}
.skills-name-dark {
  display: flex;
  justify-content: space-between;
  color: white;
}
.number {
  padding-top: 25px;
}

.title{
  color: darkorange;
}

.li-style{
  overflow-wrap: break-word;
}
.li-style > p{
  position: relative;
  text-align: start;
  margin-left: 50px;
}