.nav {
  position: fixed;
  width: 100%;
  transition: 1s;
  z-index: 1000;
}

.nav-move {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: white;
  transition: 1s;
  transform: 0.25rem;
  box-shadow: 0 2px 4px rgb(128, 128, 128);
}

.ul-first{
  display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.ul-second{
  display: inline-flex;
  list-style: none;
  align-items: center;
}
.ul-second > li {
  margin-left: 15px;
}

.a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
}

.active, .a:hover {
  color: SlateBlue;
  text-decoration: none;
  font-weight: bold;
}

.a-dark {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.active-dark,.a-dark:hover {
  color: darkorange;
  text-decoration: none;
  font-weight: bold;
}
.a.activeS {
  color: darkorange;
  text-decoration: none;
  font-weight: bold;
}


.h2 {
  margin-left: 30px;
}

.button{
    text-decoration: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

.q {
  border-top: 4px solid darkorange;
  border-radius: 3px;
}
.phone{
  display: none;
}

.full-screen{
  display: block;
}

@media only screen and (max-width: 600px) {
  .phone{
    display: block;
    margin-left: 20px;
  }
  .manu-side-show{
    background-color: SlateBlue;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    border-bottom-right-radius: 80px;
    animation-name: sideOpen;
    animation-duration: 2s;
  }
  .manu-side-hidden{
    background-color: SlateBlue;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    border-bottom-right-radius: 80px;
    animation-name: sideClose;
    animation-duration: 2s;
  }
  .close{
    position: absolute;
    top:0;
    right: 0;
  }
  .h2{
    margin-right: 20px;
  }
  .ul-menu-side{
    list-style: none;
    padding-right: 95px;
  }
  .ul-menu-side > li {
    margin: 20px 15px;
  }
  .active, .a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .full-screen{
    display: none;
  }
}
@keyframes sideOpen {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes sideClose {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-20%);
  }
}
