.nav {
  display: flex;
  text-align: center;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  transition: 1s;
  transform: 0rem;
  justify-content: space-between;
}

.nav-move {
  box-shadow: 0 2px 4px rgb(128, 128, 128);
  display: flex;
  text-align: center;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  transition: 1s;
  transform: 0.25rem;
  justify-content: space-between;
}

.ul {
  margin-left: 850px;
  list-style-type: none;
  display: inline-block;
  padding: 8px;
}

.li {
  list-style-type: none;
  display: inline-block;
  padding: 8px;
}

.a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.a:hover {
  color: SlateBlue;
  text-decoration: none;
  font-weight: bold;
}

.h2 {
  color: black;
  margin-left: 100px;
}

.button{
    text-decoration: none;
    border: none;
    background-color: white;
    cursor: pointer;
}