.footer {
  background-color: slateblue;
  color: #FFF;
  margin-top: 100px;
}

.contact {
  row-gap: 3.5rem;
  background-color: slateblue;
  padding: 2rem 0 4rem;
  display: inline-flex;
}

.footer-dark {
  background-color: rgb(18, 17, 17);
  color: #FFF;
  margin-top: 100px;
  margin-bottom: -20px;
}

.contact-dark {
  row-gap: 3.5rem;
  background-color: rgb(18, 17, 17);
  padding: 2rem 0 4rem;
  display: inline-flex;
}

.list-and-social {
  display: inline-flex;
  padding-top: 20px;
}

.footer-title {
  margin: 0px;
}

.footer-subtitle {
  color: rgb(180, 180, 180);
}

.footer-list{
    margin:0px 100px 0px 100px ;
    list-style-type: none;
    display: inline-flex;
}

.footer-link{
  margin: 30px;
}

.footer-link:hover{
  color: rgb(186, 186, 186);
}

.social-link{
  margin: 5px;
}

.social-link:hover{
  color: rgb(186, 186, 186);
}


.footer-link-dark:hover{
  color: darkorange;
}

.social-link-dark{
  margin: 5px;
}

.social-link-dark:hover{
  color: darkorange;
}
.p{
  margin: 0;
  padding: 0;
}
.ul{
  list-style: none;
  display: flex;
  padding: 10px 0px 50px 0px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .ul{
    display: block;
  }
  .ul > li{
    margin-bottom: 20px;
  }
  .footer-list{
    display: block;
  }
  .footer-list > li{
    margin-bottom: 10px;
  }
  .footer-link{
    margin:0px;
  }
}