@import url(//db.onlinewebfonts.com/c/00561b492d88a5287a5def1e83a34882?family=Gumela);
body {
  margin: 0;
  font-family: "Gumela", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: "Gumela", sans-serif;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

p {
  color: rgb(180, 180, 180);
}

::-webkit-scrollbar {
  width: 0.60rem;
  background-color: rgb(237, 237, 237);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(173, 173, 173);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: slateblue;
}
