.section {
  row-gap: 0;
  margin: 100px;
}

.section span{
  color: rgb(180, 180, 180);
  margin-top: -20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  padding: 0px 8px 0px 8px;
  font-size: 2rem;
  color: rebeccapurple;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-open {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
  animation-name: listOpen;
  animation-duration: 4s;
}

.list-close {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
  animation-name: listClose;
  animation-duration: 4s;
}

@keyframes listOpen {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes listClose {
  from {
    opacity: 1;
    transform: translateY(100%);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.skills-name {
  display: flex;
  justify-content: space-between;
  color: rebeccapurple;
}

.bar {
  background-color: rgba(102, 51, 153, 0.138);
  border-radius: 10px;
}

.precentags {
  height: 10px;
  border-radius: 0.25rem;
  display: block;
  background-color: rebeccapurple;
}

.html {
  width: 80%;
}
.css {
  width: 70%;
}
.js {
  width: 90%;
}
.react {
  width: 90%;
}

.node {
  width: 70%;
}
.next {
  width: 90%;
}
.mongo {
  width: 70%;
}
.sql {
  width: 65%;
}

.number {
  padding-top: 25px;
}
