.section {
  text-align: center;
  margin-top: 100px;
}


.section p {
    padding: 20px;
}

.about-title {
  display:inline;
}
.about-title-dark {
  color:darkorange;
  display:inline;
}

.about-subtitle{
  color: rgb(180, 180, 180);
}
.scrollUp {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: slateblue;
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  transition: 0.4s;
}

.show-scroll:hover {
  background-color: rgb(54, 33, 196);
}

.show-scroll{
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  background-color: slateblue;
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  transition: 0.4s;
}

.scrollUp-dark {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: darkorange;
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  transition: 0.4s;
}

.show-scroll-dark:hover {
  background-color: darkorange;
}

.show-scroll-dark{
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  background-color:  rgb(255, 181, 90);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  transition: 0.4s;
}