@import url(//db.onlinewebfonts.com/c/00561b492d88a5287a5def1e83a34882?family=Gumela);
body {
  margin: 0;
  font-family: "Gumela", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Gumela", sans-serif;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

p {
  color: rgb(180, 180, 180);
}
