.continer{
    display: inline-flex;
}

.section-contact{
    padding-bottom: 30px;
}

.contact-title {
    display:inline;
}
.contact-title-dark {
    display:inline;
    color: darkorange;
}

.contact-subtitle{
    color: rgb(180, 180, 180);
}
