.continer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-title-dark {
    display:inline;
    color: darkorange;
}

.contact-subtitle{
    color: rgb(180, 180, 180);
}
@media only screen and (max-width: 600px) {
    .continer{
      display: block;
    }

  }